@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

:root {
  --background: rgb(250, 250, 250);
  --background2: rgb(255, 255, 255);
  --border: rgb(223, 223, 223);
  --userBorder: rgba(0, 0, 0, 0.5);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

body {
  width: 100%;
  background: var(--background);
  position: relative;
  font-family: 'roboto', sans-serif;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: var(--background);
  border-bottom: 1px solid var(--border);
  display: flex;
  justify-content: center;
  padding: 5px 0;
}

.nav-wrapper {
  width: 70%;
  max-width: 1000px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand-img {
  height: 100%;
  margin-top: 5px;
  cursor: pointer;
}


.search-box {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  height: 25px;
  background: var(--background);
  border: 1px solid var(--border);
  border-radius: 2px;
  color: var(--userBorder);
  text-align: center;
  text-transform: capitalize;
}

.search-box::placeholder {
  color: var(--userBorder);
}

.nav-items {
  height: 22px;
  position: relative;
}

.icon {
  height: 100%;
  cursor: pointer;
  margin: 0 10px;
  display: inline-block;
}
.icon:hover, .icon:focus {
  filter:brightness(200%);
}

.user-profile {
  width: 22px;
  border-radius: 50%;
  background-image: url(/Images/profilePhoto.png);
  background-size: cover;
}

.main {
  width: 100%;
  padding: 40px 0;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.wrapper {
  width: 70%;
  max-width: 1000px;
  display: grid;
  grid-template-columns: 60% 40%;
  grid-gap: 30px;
}

.left-col {
  display: flex;
  flex-direction: column;
}

.status-wrapper {
  width: 100%;
  height: 120px;
  background: var(--background);
  border: 1px solid var(--border);
  border-radius: 2px;
  padding: 10px;
  padding-right: 0;
  display: flex;
  align-items: center;
  overflow: hidden;
  overflow-x: auto;
}

/* .status-wrapper::-webkit-scrollbar{
  display: block;
  overflow: auto;
} */

.status-card {
  flex: 0 0 auto;
  width: 80px;
  max-width: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 15px;
}

.profile-pic {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
  padding: 3px;
  background: linear-gradient(45deg, rgb(255, 230, 0), rgb(255, 0, 128) 80%);
}

.profile-pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid var(--border);
}

.profile-pic img:hover,
.profile-pic img:focus {
  cursor: pointer;
  transform: scale(1.1);
}

.username {
  width: 100%;
  overflow: hidden;
  text-align: left;
  font-size: 12px;
  margin-top: 5px;
  color: var(--userBorder);
}
.username:hover, .username:focus{
  filter: opacity(0.5);
  cursor: pointer;
}

.post {
  width: 100%;
  height: auto;
  background: var(--background2);
  border: 1px solid var(--border);
  margin-top: 40px;
}

.info {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
}

.info .username {
  width: auto;
  font-weight: bold;
  color: rgb(0, 0, 0);
  font-size: 14px;
  margin-left: 10px;
}

.info .options {
  height: 10px;
  cursor: pointer;
}

.options:hover{
  opacity: 0.5;
}

.info .user {
  display: flex;
  align-items: center;
}

.info .profile-pic {
  height: 40px;
  width: 40px;
  padding: 0;
  background: none;
}

.info .profile-pic img {
  border: none;
}

.info .profile-pic img {
  border: none;
}

ul {
  font-size: 0.7rem;
  color: hsla(0, 0%, 51%, 0.8);
  margin-left: 2vw;
  margin-top: 0.3vh;
  font-weight: 600;
}

.post-image {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.post-content {
  width: 100%;
  padding: 20px;
}

.likes {
  font-weight: bold;
}

.description {
  margin: 10px 0;
  font-size: 14px;
  line-height: 20px;
}

.description span {
  font-weight: bold;
  margin-right: 10px;
}

.post-time {
  color: var(--userBorder);
  font-size: 12px;
}

.comment-wrapper {
  width: 100%;
  height: 50px;
  border-radius: 1px solid var(--border);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comment-wrapper .icon {
  height: 30px;
}

.comment-box {
  width: 80%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 14px;
}

.comment-btn,
.action-btn {
  width: 70px;
  height: 100%;
  background: none;
  border: none;
  outline: none;
  text-transform: capitalize;
  font-size: 16px;
  color: rgb(0, 162, 255);
  opacity: 0.5;
}
.comment-btn:hover,
.comment-btn:focus {
  filter: brightness(50%);
  cursor: pointer;
}

.reaction-wrapper {
  width: 100%;
  height: 50px;
  display: flex;
  margin-top: -20px;
  align-items: center;
}

.reaction-wrapper .icon {
  height: 25px;
  margin: 0;
  margin-right: 20px;
}

.reaction-wrapper .icon.save {
  margin-left: auto;
  margin-right: 0;
}

.right-col {
  padding: 20px;
}

.profile-card {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.profile-card .profile-pic {
  flex: 0 0 auto;
  padding: 0;
  background: none;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.profile-card:first-child .profile-pic {
  width: 70px;
  height: 70px;
}

.profile-card .profile-pic img {
  border: none;
}

.profile-card .username {
  font-weight: 500;
  font-size: 14px;
  color: #000;
}

.sub-text {
  color: var(--userBorder);
  font-size: 12px;
  font-weight: 500;
  margin-top: 5px;
}

.action-btn {
  opacity: 1;
  font-weight: 700;
  font-size: 12px;
}
.action-btn:hover,
.action-btn:focus {
  cursor: pointer;
  filter: brightness(150%);
}

.suggestion-text {
  font-size: 14px;
  color: var(--userBorder);
  font-weight: 700;
  margin: 20px 0;
}
